{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
SCP DnD
{% endblock %}

{% block body %}
    <style>
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh; /* Высота контейнера будет занимать всю доступную высоту */
        }

        #game-canvas {
            border: 1px solid #000;
            cursor: crosshair;
            margin-top: 20px; /* Добавляем небольшое отступание сверху для визуального разделения */
        }
    </style>
    <div class="container">
        <h1>SCP Foundation RPG Game Board</h1>
        <div class="form-group">
            <label for="grid-size">Grid size:</label>
            <select id="grid-size" class="form-control">
                <option value="20x20">20x20</option>
                <option value="30x30">30x30</option>
                <option value="40x40">40x40</option>
            </select>
        </div>
        <div class="form-group">
            <label for="num-rows">Number of rows:</label>
            <input type="number" id="num-rows" class="form-control" min="1" max="100" value="20">
        </div>
        <div class="form-group">
            <label for="num-cols">Number of columns:</label>
            <input type="number" id="num-cols" class="form-control" min="1" max="100" value="20">
        </div>
        <div class="form-group">
            <label for="fill-color">Color:</label>
            <input type="color" id="fill-color" class="form-control" value="#0000ff">
        </div>
        <div class="form-group">
            <label for="brush-size">Brush size: <span id="brush-size-display">1</span> pixel</label>
            <input type="range" id="brush-size" class="form-control-range" min="1" max="20" value="1">
        </div>
        <div>
            <input type="radio" id="draw-mode" name="mode" value="draw" checked>
            <label for="draw-mode">Draw mode</label>
        </div>
        <div>
            <input type="radio" id="fill-mode" name="mode" value="fill">
            <label for="fill-mode">Fill mode</label>
        </div>
        <canvas id="game-canvas"></canvas>
        <div class="container">
            <div class="row">
                <div class="col">
                    <button id="clear-button" class="btn btn-danger mt-3">Clear</button>
                </div>
                <div class="col">
                    <button id="save-button" class="btn btn-primary mt-3">Save</button>
                </div>
                <div class="col">
                    <button id="load-button" class="btn btn-success mt-3">Load</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        // JavaScript code for handling the game board functionality
        window.onload = function() {
            const canvas = document.getElementById('game-canvas');
            const context = canvas.getContext('2d');
            const cellSize = 1; // Cell size in pixels for small table (used for Draw mode)
            let bigCellSize = 20; // Cell size in pixels for big table (used for Fill mode)
            let numRows = document.getElementById('num-rows').value = {{ height }};
            let numCols = document.getElementById('num-cols').value = {{ width }};
            let brushSize = parseInt(document.getElementById('brush-size').value);
            let drawMode = true; // Draw mode switch (true - draw mode, false - fill mode)
            let savedState = null; // Saved canvas state

            // Function that changes the grid size
            function changeGridSize() {
                let newCellSize = parseInt(document.getElementById('grid-size').value.split('x')[0]);
                if (newCellSize !== bigCellSize) {
                    bigCellSize = newCellSize;
                    canvas.width = bigCellSize * numCols;
                    canvas.height = bigCellSize * numRows;
                    clearCanvas();
                }
            }

            document.getElementById('grid-size').addEventListener('change', changeGridSize);

            let fillColor = document.getElementById('fill-color').value; // Default fill color

            // Function changing fill color
            function changeFillColor() {
                fillColor = document.getElementById('fill-color').value;
            }

            document.getElementById('fill-color').addEventListener('change', changeFillColor);

            // Function that changes the row count
            function changeNumRows() {
                const newNumRows = parseInt(document.getElementById('num-rows').value);
                if (newNumRows !== numRows) {
                    numRows = newNumRows;
                    canvas.height = bigCellSize * numRows;
                    clearCanvas();
                }
            }

            document.getElementById('num-rows').addEventListener('change', changeNumRows);

            // Function that changes the column count
            function changeNumCols() {
                const newNumCols = parseInt(document.getElementById('num-cols').value);
                if (newNumCols !== numCols) {
                    numCols = newNumCols;
                    canvas.width = bigCellSize * numCols;
                    clearCanvas();
                }
            }

            document.getElementById('num-cols').addEventListener('change', changeNumCols);

            // Function that changes the brush size
            function changeBrushSize() {
                brushSize = parseInt(document.getElementById('brush-size').value);
                document.getElementById('brush-size-display').textContent = brushSize;
            }

            document.getElementById('brush-size').addEventListener('input', changeBrushSize);

            // Function that changes the brush mode
            function toggleMode(event) {
                drawMode = event.target.value !== 'fill';
            }

            document.getElementsByName('mode').forEach(function(element) {
                element.addEventListener('change', toggleMode);
            });

            // Setting canvas size
            canvas.width = bigCellSize * numCols;
            canvas.height = bigCellSize * numRows;

            let isDrawing = false;

            // Drawing the trail of the mouse depending on drawMode
            function drawTrail(x, y) {
                const halfBrushSize = brushSize / 2; // Half of brush size
                context.fillStyle = fillColor;

                if (drawMode) {
                    context.fillRect(x - halfBrushSize, y - halfBrushSize, brushSize, brushSize);
                } else {
                    const col = Math.floor(x / bigCellSize);
                    const row = Math.floor(y / bigCellSize);
                    context.fillRect(col * bigCellSize, row * bigCellSize, bigCellSize, bigCellSize);
                }
            }

            // Function returning the coordinates of cell depending on mouseX and mouseY
            function getCellCoordinates(mouseX, mouseY) {
                const rect = canvas.getBoundingClientRect();
                const col = Math.floor((mouseX - rect.left) / cellSize);
                const row = Math.floor((mouseY - rect.top) / cellSize);
                const x = col * cellSize{% comment %} + cellSize / 2{% endcomment %};
                const y = row * cellSize{% comment %} + cellSize / 2{% endcomment %};
                return { x, y, row, col };
            }

            // Listener of mousedown event
            canvas.addEventListener('mousedown', function(event) {
                isDrawing = true;
                const { x, y } = getCellCoordinates(event.clientX, event.clientY);
                drawTrail(x, y);
            });

            // Listener of mousemove event
            canvas.addEventListener('mousemove', function(event) {
                if (isDrawing) {
                    const { x, y } = getCellCoordinates(event.clientX, event.clientY);
                    drawTrail(x, y);
                }
            });

            // Listener of mouseup event
            canvas.addEventListener('mouseup', function(event) {
                isDrawing = false;
            });

            // Function for clearing the canvas
            function clearCanvas() {
                context.clearRect(0, 0, canvas.width, canvas.height);
                drawGrid();
            }

            // Function responsible for drawing the grid
            function drawGrid() {
                context.beginPath();
                for (let x = 0; x <= canvas.width; x += bigCellSize) {
                    context.moveTo(x, 0);
                    context.lineTo(x, canvas.height);
                }
                for (let y = 0; y <= canvas.height; y += bigCellSize) {
                    context.moveTo(0, y);
                    context.lineTo(canvas.width, y);
                }
                context.strokeStyle = '#ddd';
                context.stroke();
            }

            // Function responsible for saving the canvas
            function saveCanvasState() {
                savedState = context.getImageData(0, 0, canvas.width, canvas.height);
            }

            document.getElementById('save-button').addEventListener('click', saveCanvasState);

            // Function responsible for loading the canvas
            function loadCanvasState() {
                if (savedState) {
                    context.putImageData(savedState, 0, 0);
                }
            }

            document.getElementById('load-button').addEventListener('click', loadCanvasState);

            // Function responsible for initializing the gameboard
            function initGameBoard() {
                changeGridSize();
                clearCanvas();
            }

            document.getElementById('clear-button').addEventListener('click', clearCanvas);

            initGameBoard();
        }
    </script>
{% endblock %}
