{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
SCP DnD
{% endblock %}

{% block body %}
    <style>
        #game-canvas {
            border: 1px solid #000;
            cursor: crosshair;
        }
    </style>
    <div class="container">
        <h1>SCP Foundation RPG Game Board</h1>
        <canvas id="game-canvas"></canvas>
        <button id="clear-button" class="btn btn-danger mt-3">Очистить</button>
    </div>

    <script>
        window.onload = function() {
            const canvas = document.getElementById('game-canvas');
            const context = canvas.getContext('2d');
            const cellSize = 20;
            const numRows = {{ height }};
            const numCols = {{ width }};
            canvas.width = cellSize * numCols;
            canvas.height = cellSize * numRows;
            let isDrawing = false;
            function drawTrail(x, y) {
                context.fillStyle = 'blue';
                context.fillRect(x, y, cellSize, cellSize);
            }
            function getCellCoordinates(mouseX, mouseY) {
                const rect = canvas.getBoundingClientRect();
                const x = Math.floor((mouseX - rect.left) / cellSize) * cellSize;
                const y = Math.floor((mouseY - rect.top) / cellSize) * cellSize;
                return { x, y };
            }
            canvas.addEventListener('mousedown', function(event) {
                isDrawing = true;
                const { x, y } = getCellCoordinates(event.clientX, event.clientY);
                drawTrail(x, y);
            });
            canvas.addEventListener('mousemove', function(event) {
                if (isDrawing) {
                    const { x, y } = getCellCoordinates(event.clientX, event.clientY);
                    drawTrail(x, y);
                }
            });
            canvas.addEventListener('mouseup', function(event) {
                isDrawing = false;
            });
            function clearCanvas() {
                context.clearRect(0, 0, canvas.width, canvas.height);
                drawGrid();
            }
            function drawGrid() {
                context.beginPath();
                for (let x = 0; x <= canvas.width; x += cellSize) {
                    context.moveTo(x, 0);
                    context.lineTo(x, canvas.height);
                }
                for (let y = 0; y <= canvas.height; y += cellSize) {
                    context.moveTo(0, y);
                    context.lineTo(canvas.width, y);
                }
                context.strokeStyle = '#ccc';
                context.stroke();
            }
            canvas.addEventListener('click', function(event) {
                const { x, y } = getCellCoordinates(event.clientX, event.clientY);

            });
            document.getElementById('clear-button').addEventListener('click', function() {
                clearCanvas();
            });
            drawGrid();
        };
    </script>
{% endblock %}