{% extends 'main/mainPage.html' %}

{% block content%}
<div class="upload-header">
  <h1>Audio Library</h1>
</div>
  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Uploader</th>
          <th>Upload Date</th>
          <th>Play</th>
        </tr>
      </thead>
      <tbody>
        {% for audio in audios %}
        <tr>
          <td>{{ audio.name }}</td>
          <td>{{ audio.uploader.first_name }} {{ audio.uploader.last_name }}</td>
          <td>{{ audio.upload_date }}</td>
          <td>
            <audio controls>
              <source src="{{ audio.file_link }}" type="audio/mpeg">
              Your browser does not support the audio element.
            </audio>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
<div class="upload-link">
  <a href="{% url 'audioUpload' %}">Upload Audio</a>
</div>
{% endblock %}
