{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
Sign Up Page
{% endblock %}

{% block body %}
<div class="container">
	<div class="logo">
      <img src="{% static 'main/img/logoWhite.png' endblock%}" alt="SCP Foundation Logo" width="100" height="100">
    </div>
    <h2>Sign Up</h2>
    <form method="post">
        {% csrf_token %}
      <div class="form-group">
        <label>First name:</label>
          {{ form.first_name }}
      </div>
        <div class="form-group">
        <label>Last name:</label>
        {{ form.last_name }}
      </div>
      <div class="form-group">
        <label>Email:</label>
        {{ form.email }}
      </div>
      <div class="form-group">
        <label>Password:</label>
        {{ form.password_hash }}
      </div>
      <div class="form-group">
        <label>Confirm Password:</label>
          {{ form.password_repeat }}
      </div>
      <div class="form-group">
        <input type="submit" value="Sign Up">
      </div>
        <span>{{ error }}</span>
    </form>
    <p>Already have an account? <a href="login">Log in</a></p>
  </div>
{% endblock %}


